* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    background-color: tan;
}

nav {
    background-color: skyblue;
    padding: 8px 16px;
}

.navbar {
    list-style: none;
    display: flex;
    gap: 60px;
    /* justify-content: space-around; */
}

ul a:hover {
    text-decoration: none;
    color: red;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.hero-section {
    width: 100%;
    height: 100vh;
    background-image: url('./images/Background1.webp');
    background-repeat: no-repeat;
    background-size: cover;
    /* padding: 40px; */
}

.hero-section_wrapper {
    height: 100%;
    width: 100%;
    color: white;
    background-color: rgb(3 169 244 / 4%);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-section_wrapper .hero-section_title {
    margin-bottom: 24px;
    font-size: 40px;
    font-family: "Bungee Spice", sans-serif;
    /* font-family: "Bungee Tint", sans-serif; */
}

.hero-section__link {
    margin-top: 40px;
    color: black;
    background-color: white;
    padding: 8px 12px;
    border-radius: 4px;
    text-decoration: none;
}

.hero-section__link:hover {
    background-color: beige;
    color: peru;
}

.quote {
    height: 500px;
    width: 100%;
    background-color: white;
    padding: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote .quote-text {
    color: peru;
    font-size: 40px;
    margin-bottom: 20px;
}

.text {
    text-align: center;
}

.assignment-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    padding: 80px;

}

.assignment-list-card {
    border: 2px solid brown;
    width: 45%;
    height: 200px;
    background-color: azure;
}

footer {
    background-color: black;
    padding-block: 40px;
    color: white;
}

/* Mobile responsive code */

@media (width < 768px) {
    .assignment-list-card {
        background-color: blue;
    }

    footer {
        background-color: bisque;
    }
}

@media (min-width: 1200px) {
    .quote {
        background-color: black;
    }
}

.go-to-top {
    background-color: red;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 100px;
    bottom: 100px;
}

.go-to-top svg {
    fill: white;
}

.position-relative {
    position: relative;
    padding: 40px 30px;
    background-color: blue;
}

.position-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    /* height: 200px;
    width: 200px; */
    transform: translate(-50%, -50%);
}

.w-100 {
    width: 100%;
}


/* .navbar {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.navbar li a {
    text-decoration: none;
    color: purple;
    font-size: 18px;
    padding: 8px 12px;
    /* border-radius: 4px;
    transition: all 0.3s ease; */
/* } */

/* .navbar li a:hover {
    background-color: white;
    color: palevioletred;
} */